@media (min-width: 992px) and (max-width: 1199.98px) {
    .top_section {
        background-size: 140% 100%;
        background-position: center;
    }
    .box--title--card {
        font-size: 25px;
    }
    .popular_place_card:hover .box--title--card {
        font-size: 30px;
    }
    .search_card {
        width: 31%;
    }
    .city_info {
        width: 95%;
        margin: 0 auto;
    }
    .describe--btn {
        justify-self: center;
    }
    .city_img {
        width: 400px;
        height: 400px;
        margin: auto 0;
    }
    .block_sing_up {
        background-size: cover;
        background-position: center;padding: 100px 0;
        padding: 130px 0;
    }
    .sing--up--title {
        font-size: 80px;
    }
    .newsletter {
        font-size: 20px;
    }
}
@media (min-width: 1200px) and (max-width: 1499.98px) {
    .popular_place_card:hover .box--title--card {
        font-size: 34px;
    }
}