@media (min-width: 576px) and (max-width: 767.98px) {
    /*NAVIGATION START*/
    .main_scrin {
        background-size: 180% 100%;
        background-position: center;
    }
    .logo {
        padding: 0 15px;
    }
    .box_title {
        font-size: 24px;
    }
    .logo::before {
        width: 40px;
        height: 48px;
    }
    .main_nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 15px 0;
        margin-bottom: 120px;
    }
    .main_menu {
        align-self: center;
        /* Мені ніяка позиція не подобається */
    }
    .menu_item {
        padding: 10px 20px;
    }
    /*NAVIGATION END*/
    /*MAIN TITLE S*/
    .main_title {
        font-size: 50px;
    }
    .main_subtitle {
        font-size: 13px;
    }
    /*MAIN TITLE E*/
    /*POPULAR PLACE S*/
    .dark_card {
		display: none;
    }
	.popular_place_card {
        width: 30%;
    }
    .place {
        justify-content: space-around;
    }
    .card_text {
		bottom: 30px;
    }
    .popular_place_card:hover .card_text {
        bottom: 30px;
    }
    .box--title--card {
		font-size: 25px;
	}
	.popular_place_card:hover .box--title--card {
		font-size: 25px;
	}
	.box_subtitle {
        color: #ffffff;
        margin-bottom: 50px;
    }
    .popular--place--btn {
        font-size: 12px;
        padding: 13px 20px;
    }
	.popular_place_card {
		margin-bottom: 10px;
	}
	.popular_place_card::after {
		opacity: 0.2;
	}
	.popular_place_card:hover::after {
		opacity: 0.2;
	}
    /*POPULAR PLACE E*/
    /*SEARCH S*/
    .search {
		padding: 25% 0 0;
    }
    .search_box {
        width: 80%;
    }
    /*POPULAR PLACE E*/
    /*FILTER S*/
    .search_field {
        margin-bottom: 30px;
    }
    .filter_box {
        align-items: center;
        flex-direction: column;
    }
    .filter_type {
        margin-bottom: 15px;
    }
    /*FILTER E*/
    /*PLACE CARD S*/
    .place_card_block {
        justify-content: center;
    }
    .place_card   {
        width: 45%;
    }
    .place_card:not(:nth-child(3n)) {
        margin-right: 0px;
    }
    .place_card:nth-child(2n) {
        margin-left: 40px;
    }
    .place--card--title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .place--card--subtitle {
        color: #606f81;
        margin-bottom: 27px;
    }
    .place--card--btn {
		margin-bottom: 0;
		color: #b98000;
		background-color: #ffc74a;
	}
    /*CITY INFO S*/
    .block_explore {
        padding-bottom: 70px;
    }
    .explore--title {
        margin-bottom: 40px;
    }
    .city_info {
        flex-direction: column-reverse;
        width: 80%;
        margin: 0 auto;
    }
    .container_explore::after {
		display: none;
	}
    .describe_img {
        width: 350px;
        height: 350px;
        margin: 0 auto 40px;
    }
    .city_descride {
        text-align: center;
        width: 100%;
    }
    .describe_text {
        margin-bottom: 40px;
    }
    /*CITY INFO E*/
    /*SING UP S*/
    .block_sing_up {
        background-size: cover;
		background-position: center;
        padding: 100px 0;
    }
    .newsletter {
        font-size: 20px;
    }
    .sing--ub--btn {
        margin-bottom: 50px;
    }
    /*SING UP E*/
}   