@media (min-width: 768px) and (max-width: 991.98px) {
    /*NAVIGATION START*/
    .top_section {
        background-size: 150% 100%;
        background-position: center;
    }
    .logo {
        padding: 0 15px;
    }
    .box_title {
        font-size: 24px;
    }
    .logo::before {
        width: 40px;
        height: 48px;
    }
    .main_nav {
        padding: 25px 15px 0;
        margin-bottom: 160px;
    }
    .menu_item {
        padding: 10px 20px;
    }
    /*NAVIGATION END*/
    /*MAIN TITLE S*/
    .section_title {
        font-size: 60px;
    }
    /*MAIN TITLE E*/
    /*POPULAR PLACE S*/
    .dark_card {
		display: none;
    }
	.popular_place_card {
        width: 30%;
    }
    .popular_place_box {
        justify-content: space-around;
    }
    .card_text {
		bottom: 40px;
    }
    .box--title--card {
		font-size: 30px;
	}
	.popular_place_card:hover .box--title--card {
		font-size: 30px;
	}
	.box_subtitle {
		color: #ffffff;
	}
	.popular_place_card {
		margin-bottom: 10px;
	}
	.popular_place_card::after {
		opacity: 0.2;
	}
	.popular_place_card:hover::after {
		opacity: 0.2;
	}
    /*POPULAR PLACE E*/
    /*SEARCH S*/
    .search_block {
		padding: 25% 0 0;
    }
    .search_box {
        width: 80%;
    }
    /*POPULAR PLACE E*/
    /*FILTER S*/
    .filter_box {
        justify-content: space-around;
    }
    /*FILTER E*/
    /*PLACE CARD S*/
    .search_cards_box {
        justify-content: center;
        width: 100%;
    }
    .search_card   {
        width: 32%;
    }
    .search_card:not(:nth-child(3n)) {
        margin-right: 0px;
    }
    .search_card:nth-child(2n) {
        margin-left: 40px;
    }
    .search--card--title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .search--card--subtitle {
		color: #606f81;
    }
    .search--card--btn {
		margin-bottom: 0;
		color: #b98000;
		background-color: #ffc74a;
	}
    /*CITY INFO S*/
    .block_explore {
        padding-bottom: 70px;
    }
    .explore--title {
        margin-bottom: 40px;
    }
    .city_info {
        flex-direction: column-reverse;
        width: 80%;
        margin: 0 auto;
    }
    .container_explore::after {
		display: none;
	}
    .city_img {
        width: 400px;
        height: 400px;
        margin: 0 auto 40px;
    }
    .city_descride {
        text-align: center;
        width: 100%;
    }
    .describe_text {
        margin-bottom: 40px;
    }
    /*CITY INFO E*/
    /*SING UP S*/
    .block_sing_up {
		background-size: cover;
		background-position: center;
	    padding: 100px 0;
    }
    .newsletter {
        font-size: 20px;
    }
    .sing--up--btn {
        margin-bottom: 50px;
    }
    /*SING UP E*/
}   